@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #64a1c9;
  font-size: 42px;
}

.title {
  color: #ffffff;
  text-shadow: #ababab;
  font-variant: small-caps;
  padding-top: 10px;
  text-align: center;
  font-size: 62px;
}

/*Header section */
header {
  height: 100vh;
  background: linear-gradient(145deg, #4B5582, #91D6D3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.zps-logo {
  width: 100%;
  height: auto;
}

/* Section: Profile */
.profile {
  height: 100vh;
  display: grid;
  align-content: center;
  justify-items: center;
  background: linear-gradient(0deg, #FFFFFF, #FEF3D8);
  padding: 20px;
}

.profilepic {
  width: 35rem;
  border-radius: 50px;
  filter: drop-shadow(0 0 0.4rem black);
}

.profile-hero {
  padding: 20px 0px;
}

.about-hero {
  font-size: 20px;
  text-align: center;
}

.social-media {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  display: inline-block;
  padding-right: 10px;
}

/* Projects */
figure img {
  border: 2px solid black;
}

.figure-img {
  width: 20rem;
  margin: 10px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -6rem;
  margin-bottom: 4rem;
}

/* Footer */
.main-footer {
  color: #FFFFFF;
  font-size: 18px;
  background-color: #4B5582;
}

.main-footer p {
  text-align: center;
}

.footer-copyright {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.footer-to-top {
  padding-bottom: 2rem;
}

a:link {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover, a:active, a:visited {
  color: #91D6D3;
}

.hh a:link {
  color: #3b2ee7;
  text-decoration: none;
}

.hh a:hover, .hh a:active, .hh a:visited {
  color: #5347f5;
}

.main-footer p {
  color: white;
  margin-bottom: 0px;
  font-family: M;
}

/* Media Query */
@media only screen and (max-width: 735px) {
  .profilepic {
    width: 20rem;
  }

  .social-media {
    font-size: 4px;
  }

  .projects {
    display: block;
    margin-top: 15rem;
  }
}