@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #64a1c9;
  font-size: 42px; }

h5 {
  font-family: 'Roboto';
  color: #64a1c9;
  font-size: 16px; }

hr {
  border: dotted #a8cbff 6px;
  border-bottom: none;
  width: 35%;
  margin: 10px auto 50px auto; }

.title {
  color: #ffffff;
  text-shadow: #ababab;
  font-variant: small-caps;
  padding-top: 10px;
  text-align: center;
  font-size: 62px; }

/*Header section */
.background-blue {
  background-color: #2398f8;
  color: #fff; }

#intro {
  padding: 100px; }

#typing {
  font-family: sans-serif; }

#line {
  position: absolute;
  top: 53%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 0px;
  border: none;
  border-top: 4px solid #ababab; }

/* Section: Profile */
.background-white {
  background-color: white; }

#profile {
  padding-top: 100px; }

#profilepic {
  width: 10rem; }

#aboutme {
  text-align: justify;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.social-media {
  padding-top: 70px;
  padding-bottom: 30px; }

li {
  display: inline-block;
  padding-right: 10px; }

/* Section: Experiences */
.schooltext {
  text-align: justify;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif; }

#experiences {
  color: white; }

/* Projects */
figure img {
  border: 2px solid black; }

/* Footer */
.main-footer {
  color: #FFFFFF;
  font-size: 18px; }

a:link {
  color: #FFFFFF;
  text-decoration: none; }

a:visited {
  color: lightblue; }

a:hover {
  color: #a8cbff; }

a:active {
  color: #a8cbff; }

.main-footer p {
  color: white;
  margin-bottom: 0px;
  font-family: M; }

/* Media Query */
@media only screen and (max-width: 735px) {
  #typing {
    display: none; } }
